html {
    font-size: 1em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    align-items: stretch;
    background: #787E80;
}

.header {
    text-align: center;
    background-color: #3C3F40;
    color: #fff;
    margin: -8px;
    padding: 0;
}

.header__title {
    font-size: 2.074em;
    margin-top: 0;
}

.header__tagline {
    font-size: 1.2em;
}

.main {
    padding: 5px 10px;

}

.fig-container {
    display: block;
    text-align: center;
}

.fig {
    max-width: 100%;
}

.summary__title {
    border-bottom: 1px solid #B4BEBF;
}

.summary__content {
    text-align: justify;
}

.summary__content::first-letter {
    font-size: calc(1em * 2.5);
}

.honours__title {
    border-bottom: 1px solid #B4BEBF;
}

.honours__content {
    text-align: justify;
}

.honours__content::first-letter {
    font-size: calc(1em * 2.5);
}

.footer {
    background-color: #3C3F40;
    color: #fff;
    grid-area: footer;
    text-align: center;
    margin: -8px;
}

.source__link {
    text-decoration: none;
    color: #fff;
}

.source__link:hover {
    cursor: auto;
}

@media only screen and (min-width: 768px) {
    .main {
        width: 768px;
        margin: auto;
    }
}